.fixed-table th, .fixed-table td {
    white-space: nowrap;
    text-align: center;  
    vertical-align: middle; 
}

.fixed-table input {
    width: 100%; 
    box-sizing: border-box; 
    text-align: center;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #0056b3;
}

.dropdown:hover .dropdown-content {
    display: block;
}