.login-page {
  background-image: url('background.png');
  background-size: contain;
  background-color: #e4c499;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  border: 10px solid #e4c499;
}

.input {
  margin: 15px;
  text-align: left;
}

.input label {
  display: block;
  font-weight: bold;
}

.input input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5b65d4;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #3845d6;
}