.welcome {
    background-image: url('background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e4c499;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .welcome-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
  }