/WarehouseInventoryManager/WarehouseInventoryManager/bin/
/WarehouseInventoryManager/WarehouseInventoryManager/obj/
/WarehouseInventoryManager/WarehouseInventoryManager/appsettings.json
/warehouse/node_modules/
/WarehouseInventoryManager/.vs/